@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .glass .row {
        grid-template-columns: 1fr;
    }
}
