---
import "../styles/global.css";
---

<footer
    class="mt-12 py-7 px-5 border-t border-white/10 max-w-7xl m-auto text-gray-400"
    transition:name="footer"
>
    <div class="grid grid-cols-[1fr_auto] gap-3 items-center">
        <small
            >&copy; <span id="copy-year"></span> Liveboot.org Community | Uicons
            by <a href="https://www.flaticon.com/uicons">Flaticon</a></small
        >
        <ul class="flex gap-4">
            <li><a href="/imprint" data-astro-prefetch>Imprint</a></li>
            <li>
                <a
                    href="https://github.com/liveboot"
                    target="_blank"
                    rel="noopener">GitHub</a
                >
            </li>
            <li>
                <a
                    href="https://discord.liveboot.org/"
                    target="_blank"
                    rel="noopener">Discord</a
                >
            </li>
        </ul>
    </div>
</footer>

<script is:inline data-astro-rerun>
    const applyYear = () => {
        const span = document.getElementById("copy-year");
        if (span) span.innerHTML = new Date().getFullYear().toString();
    };

    document.addEventListener("astro:page-load", applyYear);
    applyYear();
</script>
