---
import "../styles/global.css";
---

<footer
    class="mt-12 py-7 px-5 border-t border-white/10 max-w-7xl m-auto text-gray-400"
>
    <div class="grid grid-cols-[1fr_auto] gap-3 items-center">
        <small
            >&copy; <span></span> Liveboot.org Community | Uicons by <a
                href="https://www.flaticon.com/uicons">Flaticon</a
            ></small
        >
        <ul class="flex gap-4">
            <li><a href="/imprint" data-astro-prefetch>Imprint</a></li>
            <li>
                <a
                    href="https://github.com/liveboot"
                    target="_blank"
                    rel="noopener">GitHub</a
                >
            </li>
            <li>
                <a
                    href="https://discord.liveboot.org/"
                    target="_blank"
                    rel="noopener">Discord</a
                >
            </li>
        </ul>
    </div>
</footer>
