---
import "../styles/global.css";
---

<h1 class="font-extrabold text-3xl leading-10 md:text-6xl md:leading-20 md:mt-20 m-3">
    Coming soon:<br>A fast, friendly and powerful rescue-tool
</h1>
<p
    class="subtitle text-gray-50/70 text-sm md:text-xl max-w-2/3 mt-8 mb-20 mx-auto"
>
    Liveboot will run entirely from memory so you can rescue, clone, and repair
    without touching disks until you want to. Comes with sane defaults and
    UI-first tools.
</p>
