---
import "../styles/global.css";

import Button from "./elements/button.astro";

const installCmd = "COMING SOON";
---

<section id="install">
    <div class="flex justify-center mt-6 mx-3">
        <div class="relative max-w-4xl flex-7 shadow-2xl">
            <input
                type="text"
                value={installCmd}
                readonly
                class="font-mono border border-white/20 bg-white/5 rounded-3xl w-full p-4"
            />
            <!-- TODO: fade out to right if command too big for screen -->
            <!-- <button
                id="copy-btn"
                class="absolute bg-teal-800 right-2 top-2 bottom-2 px-4 rounded-2xl font-bold cursor-pointer backdrop-blur-sm"
                >Copy</button
            > -->
            <!-- <div class="copy-toast" id="copy-toast">Copied</div> -->
        </div>
    </div>
    <div class="mt-10 flex gap-3 justify-center flex-wrap">
        <Button href="/docs" primary>Read the docs</Button>
        <Button href="https://github.com/liveboot">Contribute</Button>
    </div>
</section>

<!--
<style>
    .copy-toast {
        position: absolute;
        right: 16px;
        top: -28px;
        background: var(--accent);
        color: #0f172a;
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 8px;
        opacity: 0;
        transform: translateY(-6px);
        pointer-events: none;
        transition:
            opacity 0.2s ease,
            transform 0.2s ease;
    }

    .copy-toast.show {
        opacity: 1;
        transform: translateY(0);
    }
</style>
-->
