---
import "../styles/tailwind.css";
---

<header
    class="sticky top-0 backdrop-blur-md bg-black/20 border-b border-white/10 z-10"
>
    <div class="wrap flex items-center justify-between max-w-7xl py-4 mx-auto">
        <a href="#top" class="flex items-center gap-3">
            <img src="liveboot.svg" />
            <div class="font-bold text-lg">Liveboot.org</div>
        </a>
    </div>
</header>
