---
import "../styles/global.css";
---

<header>
    <div class="wrap">
        <a href="#top">
            <img src="liveboot.svg" />
            <div>Liveboot.org</div>
        </a>
    </div>
</header>

<style>
    header {
        position: sticky;
        top: 0;
        backdrop-filter: blur(12px);
        background: rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        z-index: 10;
    }

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 14px 0;
    }

    a {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    div {
        font-weight: 700;
        font-size: 1.1rem;
    }
</style>
